#map-canvas {
        height: 340px;
        margin: 0px;
        padding: 0px
      }

 

.px-map{
        height: 350px;
		margin: 0px;
        padding: 0px
	   }


#clique
{
    text-align: center;
    height: 150px;
    
}
